@import url(../../styles/main.less);

.scrolltotop {
  position: fixed;
  bottom: 40px;
  right: 20px;

  &__button {
    color: #ffffff;
    background-color: #b37feb;

    &:hover {
      color: #ffffff !important;
      background-color: #b37feb !important;
      border-color: #b37feb !important;
    }

    .anticon {
      color: #ffffff;

      &:hover {
        color: #ffffff;
      }
    }
  }
}
