@import '../../styles/main.less';

.userpage {
  display: flex;
  flex-direction: column;
  // min-height: calc(100vh - @header-height);
  min-height: 900px;
  background: #f5f5f5;

  &__container {
    padding: 20px;

    &-title {
      font-size: @font-size-title !important;
    }
    &-subtitle {
      font-size: @font-size-subtitle !important;
    }
  }

  &__layout {
    // min-height: calc(100vh - @header-height);
    min-height: 900px;
    overflow: auto;

    &-sider {
      background-color: @menu-backgroundColor !important;
    }

    &-menu {
      background-color: @menu-backgroundColor;
    }

    &-content {
      padding: 24px;
      // min-height: calc(100vh - @header-height);
      min-height: 900px;
      background-color: #ffffff;
      border-radius: 5px;
      overflow: auto;
    }
  }

  &__modal {
    padding: 20px;
    &-title {
      font-size: @font-size-title !important;
    }
  }
}
