@import '../../styles/main.less';

.app-header {
  display: flex;
  align-items: center;
  background-color: @header-backgroundColor;
  height: @header-height;

  &__logo {
    display: block;
    // height: @logo-height;
    max-width: 200px;
  }

  &__button {
    background-color: @button-backgroundColor;
    border: @button-backgroundColor;
    color: @font-color-button;

    &:hover {
      color: @font-color-button-hover !important;
    }
  }

  &__link {
    color: @font-color-button;

    &:hover {
      color: @font-color-button-hover;
    }

    &-icon {
      color: @font-color-button;
    }
  }
}
