@import '../../styles/main.less';

.app-footer {
  text-align: center;
  background: @footer-backgroundColor;
  height: @footer-height;

  @media (max-width: 992px) {
    background: @footer-backgroundColor-max992px;
  }

  @media (max-width: 768px) {
    background: @footer-backgroundColor-max768px;
  }

  @media (max-width: 576px) {
    background: @footer-backgroundColor-max576px;
  }

  @media (max-width: 400px) {
    background: @footer-backgroundColor-max400px;
  }

  &__text {
    color: @font-color-footer-text;
    font-size: 0.8rem;

    &-name {
      color: @font-color-footer-link;
      font-size: 0.8rem;
      cursor: pointer;

      &:hover {
        color: @font-color-footer-link-hover;
      }
    }
  }
}
